@import "tailwindcss";

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  background-color: #ffffff;
}

.page-content {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  padding: 6em 2em;
}

.hero {
  align-items: center;
  background-image: linear-gradient(to right, rgba(10, 25, 49, 0.9) 0%, rgba(10, 25, 49, 0.7) 100%), 
  url("@/../../public/hero-bg.svg");
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
  font-size: 24px;
}